
<div class=col-lg-10 col-md-4>
  <form action="/mounatins" method="post">

    <fieldset class="form-group">
      <label for="peak_name">Peak Name</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="peak name">
    </fieldset>

    <fieldset class="form-group">
      <label for="mountain_range">Mountain Range</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="enter mountain range">
    </fieldset>

    <fieldset class="form-group">
      <label for="difficulty">Difficulty</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="rank difficulty 1 - 10, 10 being hardest">
    </fieldset>

    <fieldset class="form-group">
      <label for="distance">Distance</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="round-trip distance in miles">
    </fieldset>


    <fieldset class="form-group">
      <label for="elevation">Peak Elevation</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="peak elevation in feet">
    </fieldset>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>