
<div class=col-lg-10 col-md-4>
  <form>
    <fieldset class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="name">
    </fieldset>

    <fieldset class="form-group">
      <label for="mountain">Mountain name</label>
      <input type="text" class="form-control" id="formGroupInput" placeholder="enter mountain name">
    </fieldset>

    <fieldset class="form-group">
      <label for="comment">Leave trail notes / updates for fellow hikers</label>
      <textarea class="form-control" id="leave-comment" rows="5"></textarea>
    </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>