    <div class="container fullscreen col-lg-12 col-md-4">
        <div class="row">
            <p id="title">COLORADO 14ers</p>
            <p class="lead"> peak finder</p>
        </div>
    </div>
