<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CO 14ers</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/style.css" rel="stylesheet">
  </head>

  <body>
        
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/peaks">Peak Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trail_notes">Trail Notes</a>
            </li>
          </ul>
        </nav>
       

        <div class="container col-lg-12 col-md-4">
            <div class="row">
                <p id="title">COLORADO 14ers</p>
                <p class="lead"> peak finder</p>
            </div>
        </div>

        <div class="container col-lg-10 col-lg-offset-1 col-md-4">
            <div class="row">
              <div id="map-container"></div>
            </div>
        </div>

        <div class="container col-lg-12 col-md-4">
            <div class="row">
             <main id="append-info">
             </main>
            </div>
        </div>
        <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
     <script src="/script.js"></script>

  </body>

</html>

