body {
  padding-top: 0rem;
  background-image: url("cork-wallet.png")
}

.navbar-default{
	font-size: 2rem;
	background-color: black;
	color: white;
	padding-top: -5rem;
}

.container {
	/*padding: 3rem 1.5rem;*/
	text-align: center;
	font-family:  Helvetica;
	min-height: 10rem;
	max-height: 100vh;
}

#title {
  	font-weight: bold;
  	font-size: 4rem;
  	margin-bottom: 0rem
}

#map-container {
	height: 80rem;
	margin-top: -2rem;

}

#append-info {
	background-color:gray;
}