body {
  padding-top: 5rem;
  background-image: url("cork-wallet.png")
}



.navbar {
	font-size: 2rem;
}

.container {
	/*padding: 3rem 1.5rem;*/
	text-align: center;
	font-family:  Helvetica;
	min-height: 20rem;
	max-height: 80rem;
}

#title {
  	font-weight: bold;
  	font-size: 4rem;
  	margin-bottom: 0rem
}

#map-container {
	 border: .5rem solid black;
	 height: 80rem;
}
